<section class="feed-query">
    <!-- <div class="post-types">
        <h3 class="post-types-title">Post Types
            <span class="post-types-title-icon">&#59228;</span>
        </h3>
        <ul class="post-types-dropdown-block">
            {% for post_type in post_types %}
            <li class="post-types-dropdown-options">
                <a href="{{post_type.name}}" class="post-types-dropdown-options-label">{{post_type.labels.name}}
                    <span class="post-types-dropdown-options-icon icon" style="{{post_type.in_query ? '' : 'display:none'}}">&#10003;</span>
                    <input type="checkbox" name="query_post_type[]" value="{{post_type.name}}" {{post_type.in_query ? 'checked'}} />
                </a>
            </li>
            {% endfor %}
        </ul>
    </div> -->
</section>